/* ==========================================================================
   Footer Component
   ========================================================================== */

@import "../../imports/color";

footer {
  height: 300px;
  margin-top: 100px;
  background: $red;
}
