/* ==========================================================================
color mixing
========================================================================== */

$mainColor : #FF4F4F;

$black : #181818;
$dd-blue : #1B1B23;
$d-blue : #20232A;
$d-gray : #2E303B;
$gray : #595963;
$white : #FFFFFF;
$d-white : #F7F7F7;
