/* ==========================================================================
   Typografi
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

* {
  font-family: 'Lato', sans-serif;
  color: $black;
  font-size: 14px;
}


a {
  text-decoration: none;

  &:hover {
    color: blue;

  }
}


h1 {
  margin: 0;
}
