/* ==========================================================================
   Home Pages
   ========================================================================== */

@import "../../imports/shadow";
@import "../../imports/color";
@import "../../imports/transition";

.home {
  display: grid;
  grid-template-columns: 60% 40%;

  .blogpost {
    ul {
      padding: 0px;
      margin: 0px;

      li {
        border-radius: 10px;
        background: $white;
        padding: 40px;
        margin: 20px;
        @include shadow5;
        list-style-type: none;

        img {
          width: 100%;
        }
      }
    }

    .categories {
      display: inline-block;
      padding-right: 5px;



      &::after {
        content: ",";

      }

    }
  }

  .sidebar {

    position: fixed;
    width: 40%;
    right: 0;

    .content {
      width: 100%;

      div {
        position: relative;
        border-radius: 10px;
        background: $white;
        @include shadow5;
        margin: 20px;
        padding: 20px;
        margin: 20px;

        list-style-type: none;

        h3 {
          margin: 5px 0px;
        }

        li {
          padding-bottom: 5px;

          a {
            color: $gray;
            @include transition;

            &:hover {
              color: $mainColor;
              cursor: pointer;
            }

          }
        }
      }

      .search {
        input {
          width: auto;
          background: $d-white;
          border: 0px;
          padding: 10px;
        }
      }
    }


  }
}
