<div class="home">
  <div class="blogpost">
    <ul>
      <li *ngFor="let post of Posts">
        <h1>{{ post.fields.title }}</h1>
        <div>
          <p class="author">Af {{ post.fields.author }}</p>
          <p class="date">Postet</p>
          <p class="date date_text"> {{_returnCreatedDate(post.fields.date)}}</p>
        </div>
        <img class="article_img" src="http:{{ post.fields.image.fields.file.url }}" alt="image" />

        <a class="btn" (click)="goToCourseDetailsPage(post.sys.id)">Read more</a>
      </li>
    </ul>
  </div>

  <div id="js_sidebar" class="sidebar">
    <div class="content">
      <div class="search">
        <input type="text" name="" placeholder="To search type and hit enter" id="">
      </div>
      <div class="reacentposts">
        <h3>Recent posts</h3>
        <li *ngFor="let post of Posts">
          <a (click)="goToCourseDetailsPage(post.sys.id)">{{ post.fields.title }}</a>
        </li>
      </div>
      <!-- <div class="archives">
        <h3>Archives</h3>

        <li *ngFor="let post of Posts">
          <a href="#">{{ post.fields.title }}</a>
        </li>
      </div>
      <div class="Categories">
        <h3>Categories</h3>

        <li *ngFor="let post of Posts">
          <a href="#">{{ post.fields.title }}</a>
        </li>
      </div>
      <div class="tags">
        <h3>Tags</h3>

        <li *ngFor="let post of Posts">
          <a href="#">{{ post.fields.title }}</a>
        </li>
      </div> -->
    </div>
  </div>
</div>
